.background{
    background-image: url("vegbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter:blur(5px);
   z-index: -1;
    position: absolute;
     top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
    
}
body{
    height:100%;
    margin:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
